<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redskt.classroom.mapper.EduTechnologyBookMapper">

    <select id="getBookIndexInfo" resultType="com.redskt.classroom.entity.vo.RedClassBookVo">
        SELECT book.*,contents.article_id as fcid,contents.title as ftitle,buser.avatar as authorAvatar
        FROM edu_technology_book book
        LEFT OUTER JOIN (SELECT  * from  edu_book_contents order by sortcontent ASC LIMIT 1) as contents ON book.id=contents.book_id
        LEFT OUTER JOIN red_class_user buser on book.auid = buser.id
        order by view_count DESC LIMIT #{size}
    </select>

</mapper>
