<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redskt.classroom.mapper.EduUserAskMapper">

    <select id="getHomeQustionLists" resultType="com.redskt.classroom.entity.vo.RedClassAskQuestionVo">
        SELECT ask.id as qId, ask.title,ask.type,ask.tag,ask.content,ask.collect,ask.readcount,ask.hotnum,ask.price,ask.good,ask.gmt_create,user.nickname,
        (select count(reply.id) as replaycount from red_ask_reply reply where reply.qid=ask.id) as  reply
        FROM edu_user_ask ask
        LEFT OUTER JOIN edu_user user ON ask.uid=user.id
        <if test="qustype != 0">
            where qustype = #{qustype}
        </if>
        ORDER BY ask.gmt_create DESC limit 20
    </select>


    <select id="getReplayQustionLists" resultType="com.redskt.classroom.entity.vo.RedClassAskQuestionVo">
        SELECT ask.id as qId, ask.title,ask.type,ask.tag,ask.content,ask.collect,ask.readcount,ask.hotnum,ask.price,ask.good,ask.gmt_create,user.nickname,
        (select count(reply.id) from red_ask_reply reply where reply.qid=ask.id) as  reply
        FROM edu_user_ask ask
        LEFT OUTER JOIN edu_user user ON ask.uid=user.id
        <if test="qustype != 0">
            where qustype = #{qustype}
        </if>
        HAVING reply>0
        ORDER BY ask.gmt_create DESC limit 20
    </select>

    <select id="getUnReplayQustionLists" resultType="com.redskt.classroom.entity.vo.RedClassAskQuestionVo">
        SELECT ask.id as qId, ask.title,ask.type,ask.tag,ask.content,ask.collect,ask.readcount,ask.hotnum,ask.price,ask.good,ask.gmt_create,user.nickname,
        (select count(reply.id) from red_ask_reply reply where reply.qid=ask.id) as  reply
        FROM edu_user_ask ask
        LEFT OUTER JOIN edu_user user ON ask.uid=user.id
        <if test="qustype != 0">
            where qustype = #{qustype}
        </if>
        HAVING reply=0
        ORDER BY ask.gmt_create DESC limit 20
    </select>

    <select id="getReplayCountQustionLists" resultType="com.redskt.classroom.entity.vo.RedClassAskQuestionVo">
        SELECT ask.id as qId, ask.title,ask.type,ask.tag,ask.content,ask.collect,ask.readcount,ask.hotnum,ask.price,ask.good,ask.gmt_create,user.nickname,
        (select count(reply.id)  from red_ask_reply reply where reply.qid=ask.id) as  reply
        FROM edu_user_ask ask
        LEFT OUTER JOIN edu_user user ON ask.uid=user.id
        <if test="qustype != 0">
            where qustype = #{qustype}
        </if>
        ORDER BY reply DESC limit 20
    </select>

    <select id="getTopQustionLists" resultType="com.redskt.classroom.entity.vo.RedClassAskQuestionVo">
        SELECT ask.id as qId, ask.title,ask.type,ask.tag,ask.content,ask.collect,ask.readcount,ask.hotnum,ask.price,ask.good,ask.gmt_create,user.nickname,
        (select count(reply.id) from red_ask_reply reply where reply.qid=ask.id) as  reply
        FROM edu_user_ask ask
        LEFT OUTER JOIN edu_user user ON ask.uid=user.id
        <if test="qustype != 0">
            where qustype = #{qustype}
        </if>
        ORDER BY ask.readcount DESC limit 20
    </select>

    <select id="getPriceQustionLists" resultType="com.redskt.classroom.entity.vo.RedClassAskQuestionVo">
        SELECT ask.id as qId, ask.title,ask.type, ask.price, ask.tag,ask.content,ask.collect,ask.readcount,ask.hotnum,ask.price,ask.good,ask.gmt_create,user.nickname,
        (select count(reply.id) from red_ask_reply reply where reply.qid=ask.id) as  reply
        FROM edu_user_ask ask
        LEFT OUTER JOIN edu_user user ON ask.uid=user.id
        where price>0
        <if test="qustype != 0">
         and qustype = #{qustype}
        </if>
        ORDER BY ask.gmt_create DESC limit 20
    </select>

    <select id="getQustionDetail" resultType="com.redskt.classroom.entity.vo.RedClassAskQuestionVo">
        SELECT ask.id as qId, ask.uid,ask.title,ask.type,ask.tag,ask.content,ask.collect,ask.readcount,ask.hotnum,ask.price,ask.good,ask.gmt_create, user.nickname,
            user.avatar,(select count(reply.id) from red_ask_reply reply where reply.qid=ask.id) as reply,qtype.name as typeString
        FROM edu_user_ask ask
        LEFT OUTER JOIN edu_user user ON ask.uid=user.id
        LEFT OUTER JOIN red_ask_type qtype ON ask.qustype = qtype.id
        WHERE ask.id=#{tId}
    </select>

    <update id="changReadCount">
        update edu_user_ask
        set readcount = #{readCount}
        where id = #{id}
    </update>

    <update id="addQustionGoodCount">
        update edu_user_ask
        set good=good+1
        where id = #{qid}
    </update>

    <update id="prepQustionGoodCount">
        update edu_user_ask
        set good=good-1
        where id = #{qid}
    </update>

    <update id="addQustionCollectCount">
        update edu_user_ask
        set collect=collect+1
        where id = #{qid}
    </update>

    <update id="prepQustionCollectCount">
        update edu_user_ask
        set collect=collect-1
        where id = #{qid}
    </update>

</mapper>
