<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redskt.classroom.mapper.RedAskReplyMapper">

    <resultMap id="replyMap" type="com.redskt.classroom.entity.vo.RedAskReplyVo">
        <collection column="reply" property="replies" resultMap="commentMap">
        </collection>
    </resultMap>

    <resultMap id="commentMap" type="com.rhaegal.Vo.ReplyVo">
    </resultMap>

    <select id="getQustionReplyList" resultType="com.redskt.classroom.entity.vo.RedAskReplyVo">
        SELECT ask.id, ask.qid,ask.content,ask.good,ask.bad,ask.uid,ask.gmt_create, user.nickname as username,
        user.avatar
        FROM red_ask_reply ask
        LEFT OUTER JOIN edu_user user ON ask.uid=user.id
        left join red_ask_reply_comment on ask.id = red_ask_reply_comment.comment_id
        WHERE ask.id in (select id
                             from (select id
                                   from red_ask_reply subask
                                   /* 评论的状态判断要在这里做 */
                                   where subask.qid=#{qId}
                                   order by date asc limit #{param2}, #{param3}) as ask_id_list)
                                   and #{param4} > (select count(*)
                                   from red_ask_reply_comment comment
                   where comment.id = red_ask_reply_comment.id and comment.id > red_ask_reply_comment.id)
                   ORDER BY ask.good DESC 
    </select>

    <select id="getTimeQustionReplyList" resultType="com.redskt.classroom.entity.vo.RedAskReplyVo">
        SELECT ask.id, ask.qid,ask.content,ask.good,ask.bad,ask.uid,ask.gmt_create, user.nickname as username,
        user.avatar
        FROM red_ask_reply ask
        LEFT OUTER JOIN edu_user user ON ask.uid=user.id
        WHERE ask.qid=#{qId}
        ORDER BY ask.gmt_create DESC limit 10
    </select>

    <update id="addReplyGoodCount">
        update red_ask_reply
        set good=good+1
        where id = #{rid}
    </update>

    <update id="prepReplyGoodCount">
        update red_ask_reply
        set good=good-1
        where id = #{rid}
    </update>

    <update id="addReplyBadCount">
        update red_ask_reply
        set bad=bad+1
        where id = #{rid}
    </update>

    <update id="prepReplyBadCount">
        update red_ask_reply
        set bad=bad-1
        where id = #{rid}
    </update>


</mapper>
