<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redskt.classroom.mapper.RedAskReplyMapper">

    <resultMap id="replyMap" type="com.redskt.classroom.entity.vo.RedClassReplyVo">
        <id column="id" property="id"/>
        <id column="qid" property="qid"/>
        <id column="good" property="good"/>
        <id column="bad" property="bad"/>
        <id column="state" property="state"/>
        <id column="uid" property="uid"/>
        <id column="username" property="username"/>
        <id column="avatar" property="avatar"/>
        <id column="content" property="content"/>
        <id column="gmt_create" property="gmtCreate"/>
        <collection property="comments" resultMap="commentMap">
        </collection>
    </resultMap>

    <resultMap id="commentMap" type="com.redskt.classroom.entity.vo.ReplyCommentVo">
        <id column="replyId" property="id"/>
        <id column="ccontent" property="content"/>
        <id column="crid" property="rid"/>
        <id column="cuid" property="uid"/>
        <id column="touid" property="touid"/>
        <id column="cname" property="name"/>
        <id column="tname" property="toname"/>
        <id column="cavatar" property="avatar"/>
        <id column="cgood" property="good"/>
        <id column="goodcomment" property="goodcomment"/>
        <id column="cgmt_create" property="gmtCreate"/>
    </resultMap>

    <select id="getUserLasterReply" resultMap="replyMap">
        SELECT  reply.id, reply.qid,reply.content,reply.good,reply.bad,reply.uid,reply.gmt_create, ruser.nickname as username,
        ruser.avatar
        FROM red_ask_reply reply
        LEFT JOIN edu_user ruser on reply.uid = ruser.id
        WHERE  reply.uid = #{uid}
        ORDER BY  reply.gmt_create DESC
        LIMIT 1
    </select>

    <select id="getQustionReplyList" resultMap="replyMap">
        SELECT reply.id, reply.qid,reply.content,reply.good,reply.bad,reply.uid,reply.state,reply.gmt_create, ruser.nickname as username,
        ruser.avatar, rcomment.id as replyId, rcomment.content as ccontent,rcomment.good as cgood,rcomment.goodc as goodcomment,
        rcomment.rid as crid,rcomment.uid as cuid,rcomment.touid,rcomment.gmt_create as cgmt_create,cuser.nickname as cname,cuser.avatar as cavatar,tuser.nickname as tname
        FROM red_ask_reply reply
        LEFT JOIN edu_user ruser on reply.uid = ruser.id
        LEFT JOIN (
               SELECT myc.id,myc.content,myc.good,myc.rid,myc.uid,myc.touid,myc.gmt_create,!isnull(ccgood.id) as goodc
               FROM (
                      SELECT * FROM  (
                                        SELECT ROW_NUMBER() OVER(PARTITION BY rid ORDER BY gmt_create DESC) rn ,red_ask_reply_comment.*
                                        FROM red_ask_reply_comment) t2 WHERE t2.rn &lt; #{csize}
                    ) myc
               LEFT JOIN red_reply_comment_good ccgood on myc.uid = ccgood.uid and myc.id = ccgood.cid and ccgood.is_deleted = 0
               ORDER BY gmt_create,goodc DESC
            ) as rcomment on  rcomment.rid = reply.id
        LEFT JOIN edu_user cuser on rcomment.uid = cuser.id
        LEFT JOIN edu_user tuser on rcomment.touid = tuser.id

        WHERE  reply.id in
               ( SELECT id FROM
                        ( SELECT id
                          FROM red_ask_reply
                          WHERE qid = #{qId}
                          <if test="type == 1">
                             ORDER BY red_ask_reply.good DESC
                          </if>
                          <if test="type == 2">
                             ORDER BY red_ask_reply.gmt_create DESC
                          </if>
                          LIMIT #{size} ) as subreply )
    </select>

    <select id="getMoreQustionReplyList" resultMap="replyMap">
        SELECT reply.id, reply.qid,reply.content,reply.good,reply.bad,reply.uid,reply.gmt_create, ruser.nickname as username,
        ruser.avatar, rcomment.id as replyId,rcomment.content as replyContent, rcomment.id as replyId, rcomment.content as ccontent,
        rcomment.rid as crid,rcomment.uid as cuid,rcomment.touid,rcomment.gmt_create as cgmt_create,cuser.nickname as cname,cuser.avatar as cavatar,tuser.nickname as tname
        FROM red_ask_reply reply
        LEFT JOIN edu_user ruser on reply.uid = ruser.id
        LEFT JOIN ( SELECT * FROM red_ask_reply_comment ORDER BY gmt_create ASC LIMIT #{csize} ) as rcomment on  rcomment.rid = reply.id
        LEFT JOIN edu_user cuser on rcomment.uid = cuser.id
        LEFT JOIN edu_user tuser on rcomment.touid = tuser.id
        WHERE  reply.id in
        ( SELECT id FROM
        ( SELECT id
        FROM red_ask_reply
        WHERE qid = #{qId}
        <if test="type == 1">
            ORDER BY red_ask_reply.good DESC
        </if>
        <if test="type == 2">
            ORDER BY red_ask_reply.gmt_create DESC
        </if>
        LIMIT #{size} ) as subreply )
    </select>

    <update id="updateReplyState">
        update red_ask_reply
        set state = #{state}
        where id = #{rid} and qid in
        (
           select id from (
            select ask.id
            from red_ask_reply reply
            left join edu_user_ask ask on ask.id = reply.qid
            WHERE reply.id = #{rid}
            ) b
        )
    </update>

    <update id="addReplyGoodCount">
        update red_ask_reply
        set good=good+1
        where id = #{rid}
    </update>

    <update id="prepReplyGoodCount">
        update red_ask_reply
        set good=good-1
        where id = #{rid}
    </update>

    <update id="addReplyBadCount">
        update red_ask_reply
        set bad=bad+1
        where id = #{rid}
    </update>

    <update id="prepReplyBadCount">
        update red_ask_reply
        set bad=bad-1
        where id = #{rid}
    </update>

</mapper>
