<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redskt.classroom.mapper.RedAskReplyMapper">

    <select id="getQustionReplyList" resultType="com.redskt.classroom.entity.vo.RedAskReplyVo">
        SELECT ask.id, ask.qid,ask.content,ask.good,ask.bad,ask.uid,ask.gmt_create, user.nickname as username,
        user.avatar
        FROM red_ask_reply ask
        LEFT OUTER JOIN edu_user user ON ask.uid=user.id
        WHERE ask.qid=#{qId}
        ORDER BY ask.good DESC limit 10
    </select>

    <select id="getTimeQustionReplyList" resultType="com.redskt.classroom.entity.vo.RedAskReplyVo">
        SELECT ask.id, ask.qid,ask.content,ask.good,ask.bad,ask.uid,ask.gmt_create, user.nickname as username,
        user.avatar
        FROM red_ask_reply ask
        LEFT OUTER JOIN edu_user user ON ask.uid=user.id
        WHERE ask.qid=#{qId}
        ORDER BY ask.gmt_create DESC limit 10
    </select>

    <update id="addReplyGoodCount">
        update red_ask_reply
        set good=good+1
        where id = #{rid}
    </update>

    <update id="prepReplyGoodCount">
        update red_ask_reply
        set good=good-1
        where id = #{rid}
    </update>

    <update id="addReplyBadCount">
        update red_ask_reply
        set bad=bad+1
        where id = #{rid}
    </update>

    <update id="prepReplyBadCount">
        update red_ask_reply
        set bad=bad-1
        where id = #{rid}
    </update>


</mapper>
