<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redskt.classroom.mapper.OpBlogDetailMapper">
    <select id="getRedClassBlogDetail" resultType="com.redskt.classroom.entity.vo.RedClassBlogDetailVo">
        SELECT blog.*,auser.id as aUid,auser.nickName as authorName,auser.avatar as authorAvatar,auser.id as authorUid
        FROM op_blog_detail blog
        LEFT OUTER JOIN edu_user auser ON auser.id=blog.auid
        where blog.id = #{bid}
    </select>


    <update id="addBlogGoodCount">
        update op_blog_detail
        set good=good+1
        where id = #{bid}
    </update>

    <update id="prepBlogGoodCount">
        update op_blog_detail
        set good=good-1
        where id = #{bid}
    </update>

    <update id="updateReadCount">
        update op_blog_detail
        set  view_count=view_count+1
        where id = #{bid}
    </update>

</mapper>
