<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redskt.classroom.mapper.RedCategoryTagMapper">

    <select id="getAllTagList" resultType="com.redskt.classroom.entity.vo.RedCategoryTagVo">
        SELECT tag.id, tag.name,tag.img,tag.sort,tag.describ,(select count(atag.id) as acount from red_ask_tags atag where atag.tid=tag.id) as  askcount
        FROM red_category_tag tag
        ORDER BY tag.gmt_create DESC
    </select>


    <select id="getBlogTypeTagList" resultType="com.redskt.classroom.entity.vo.RedCategoryTagVo">
        SELECT tag.id, tag.name,tag.bdescrib,tag.keywords
        FROM red_category_tag tag
        LEFT OUTER JOIN red_blog_type btype  ON btype.id=tag.parenttype
        where  btype.type = #{bType}
        ORDER BY tag.sort DESC
    </select>


    <select id="getTagDetail" resultType="com.redskt.classroom.entity.vo.RedCategoryTagVo">
        SELECT tag.id, tag.name,tag.img,tag.sort,tag.describ
        FROM red_category_tag tag
        LEFT OUTER JOIN red_ask_tags tags ON tags.tid=tag.id
        LEFT OUTER JOIN edu_user_ask ask  ON ask.id=tags.qid
        WHERE tag.id = {#tid}
    </select>

</mapper>
