<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redskt.classroom.mapper.RedInterviewQuestionMapper">

    <resultMap id="interviewQuestionMap" type="com.redskt.classroom.entity.vo.RedInterviewQuestionVo">
        <id column="qid" property="qId"/>
        <id column="uid" property="uid"/>
        <id column="nickname" property="nickname"/>
        <id column="avatar" property="avatar"/>
        <id column="title" property="title"/>
        <id column="type" property="type"/>
        <id column="deep" property="deep"/>
        <id column="typeString" property="typeString"/>
        <id column="content" property="content"/>
        <id column="reply" property="reply"/>
        <id column="readcount" property="readcount"/>
        <id column="collect" property="collect"/>
        <id column="good" property="good"/>
        <id column="price" property="price"/>
        <id column="hotnum" property="hotnum"/>
        <id column="meet" property="meet"/>
        <id column="gmt_create" property="gmtCreate"/>

        <collection property="tags" resultMap="interviewTagMap">
        </collection>
    </resultMap>

    <resultMap id="interviewTagMap" type="com.redskt.classroom.entity.RedCategoryTag">
        <id column="ctid" property="id"/>
        <id column="tname" property="name"/>
        <id column="timg" property="img"/>
        <id column="tsort" property="sort"/>
        <id column="asktype" property="asktype"/>
    </resultMap>


    <select id="getHomeInterviewQustionList" resultMap="interviewQuestionMap">
        SELECT qustion.id as qId, qustion.title,qustion.type,qustion.content,qustion.deep,qustion.collect,qustion.readcount,qustion.hotnum,qustion.price,qustion.good,qustion.meet,qustion.gmt_create,user.nickname,
        qustion.uid,(select count(reply.id) as replaycount from red_ask_reply reply where reply.qid=qustion.id) as  reply
        ,tags.id as ctid,tag.name as tname,tag.img as timg,tag.sort as tsort
        FROM red_interview_question qustion
        LEFT OUTER JOIN edu_user user ON qustion.uid=user.id
        LEFT OUTER JOIN red_interview_tags tags ON tags.qid = qustion.id
        LEFT OUTER JOIN red_category_tag tag ON tag.id = tags.tid
        <if test="tag != null">
            where tag.id = #{tag}
        </if>
        <if test="sort==1">
            ORDER BY qustion.hotnum
        </if>
        <if test="sort==2">
            ORDER BY qustion.gmt_create
        </if>
        <if test="sort==3">
            ORDER BY qustion.readcount
        </if>
        DESC limit 20
    </select>

    <update id="updateQuestionReadCount">
        update red_interview_question
        set readcount = #{readCount}
        where id = #{id}
    </update>

    <select id="getQustionDetail" resultMap="interviewQuestionMap">
        SELECT question.id as qId, question.uid,question.title,question.type,question.content,question.collect,question.readcount,question.hotnum,question.price,question.good,question.gmt_create, user.nickname,
            user.avatar,(select count(reply.id) from red_ask_reply reply where reply.qid=question.id) as reply,tag.id as ctid,tag.name as tname,tag.img as timg,tag.sort as tsort
        FROM red_interview_question question
        LEFT OUTER JOIN edu_user user ON question.uid=user.id
        LEFT OUTER JOIN red_interview_tags tags ON tags.qid = question.id
        LEFT OUTER JOIN red_category_tag tag ON tag.id = tags.tid
        WHERE question.id=#{tId}
    </select>

</mapper>
