<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redskt.classroom.mapper.RedInterviewQuestionMapper">

    <resultMap id="interviewQuestionMap" type="com.redskt.classroom.entity.vo.RedInterviewQuestionVo">
        <id column="qid" property="qId"/>
        <id column="uid" property="uid"/>
        <id column="nickname" property="nickname"/>
        <id column="avatar" property="avatar"/>
        <id column="title" property="title"/>
        <id column="type" property="type"/>
        <id column="qustype" property="qustype"/>
        <id column="deep" property="deep"/>
        <id column="typeString" property="typeString"/>
        <id column="content" property="content"/>
        <id column="answer" property="answer"/>
        <id column="reply" property="reply"/>
        <id column="readcount" property="readcount"/>
        <id column="collect" property="collect"/>
        <id column="good" property="good"/>
        <id column="price" property="price"/>
        <id column="hotnum" property="hotnum"/>
        <id column="meet" property="meet"/>
        <id column="gmt_create" property="gmtCreate"/>

        <collection property="tags" resultMap="interviewTagMap">
        </collection>
    </resultMap>

    <resultMap id="interviewTagMap" type="com.redskt.classroom.entity.RedCategoryTag">
        <id column="ctid" property="id"/>
        <id column="tname" property="name"/>
        <id column="timg" property="img"/>
        <id column="tsort" property="sort"/>
        <id column="asktype" property="asktype"/>
    </resultMap>

    <select id="getHomeInterviewQustionList" resultMap="interviewQuestionMap">
        SELECT qustion.id as qId, qustion.title,qustion.type,qustion.content,qustion.deep,qustion.collect,qustion.readcount,qustion.hotnum,qustion.price,qustion.good,(tmeet+smeet+pmeet) as meet,qustion.gmt_create,user.nickname,
        qustion.uid,(pmeet+tmeet+smeet)/ (readcount + 0.0 ) as frequency,(select count(reply.id) as replaycount from red_interview_answer reply where reply.qid=qustion.id) as reply
        ,tag.id as ctid,tag.name as tname,tag.img as timg,tag.sort as tsort
        FROM red_interview_question qustion
        LEFT OUTER JOIN edu_user user ON qustion.uid=user.id
        LEFT OUTER JOIN red_interview_tags tags ON tags.qid = qustion.id
        LEFT OUTER JOIN red_category_tag tag ON tag.id = tags.tid
        <if test="tag != null">
            where tag.path = #{tag}
        </if>
        <if test="qustype != null">
            where qustype = #{qustype}
        </if>
        <if test="qid != null">
            and  qId != #{qid}
        </if>
        <if test="sort==1">
            ORDER BY qustion.hotnum
        </if>
        <if test="sort==2">
            ORDER BY qustion.gmt_create
        </if>
        <if test="sort==3">
            ORDER BY qustion.readcount
        </if>
        <if test="sort==4">
            ORDER BY reply
        </if>
        DESC limit #{size}
    </select>

    <select id="getPositionQuestionList" resultMap="interviewQuestionMap">
        SELECT qustion.id as qId, qustion.title,qustion.type,qustion.content,qustion.deep,qustion.collect,qustion.readcount,qustion.hotnum,qustion.price,qustion.good,(tmeet+smeet+pmeet) as meet,qustion.gmt_create,user.nickname,
        qustion.uid,(select count(reply.id) as replaycount from red_interview_answer reply where reply.qid=qustion.id) as reply
        ,tag.id as ctid,tag.name as tname,tag.img as timg,tag.sort as tsort
        FROM red_interview_question qustion
        LEFT OUTER JOIN edu_user user ON qustion.uid=user.id
        LEFT OUTER JOIN red_interview_tags tags ON tags.qid = qustion.id
        LEFT OUTER JOIN red_category_tag tag ON tag.id = tags.tid
        LEFT OUTER JOIN red_interview_question_position tposition ON tposition.qid = qustion.id
        where tposition.pid = #{pid}
        <if test="sort==1">
            ORDER BY qustion.hotnum
        </if>
        <if test="sort==2">
            ORDER BY ddegree
        </if>
        <if test="sort==3">
            ORDER BY reply
        </if>
        <if test="sort==4">
            ORDER BY frequency
        </if>
        DESC limit #{size}
    </select>

    <update id="updateQuestionReadCount">
        update red_interview_question
        set readcount = #{readCount}
        where id = #{id}
    </update>

    <select id="getQustionDetail" resultMap="interviewQuestionMap">
        SELECT question.id as qId, question.uid,question.title,question.type,question.content,question.answer,question.collect,question.readcount,question.hotnum,question.price,question.deep,question.qustype,(tmeet+smeet+pmeet) as meet,question.good,question.gmt_create, user.nickname,
            user.avatar,(select count(reply.id) from red_ask_reply reply where reply.qid=question.id) as reply,tag.id as ctid,tag.name as tname,tag.img as timg,tag.sort as tsort
        FROM red_interview_question question
        LEFT OUTER JOIN edu_user user ON question.uid=user.id
        LEFT OUTER JOIN red_interview_tags tags ON tags.qid = question.id
        LEFT OUTER JOIN red_category_tag tag ON tag.id = tags.tid
        WHERE question.id=#{tId}
    </select>

    <update id="addGoodCount">
        update red_interview_question
        set good=good+1
        where id = #{qid}
    </update>

    <update id="prepGoodCount">
        update red_interview_question
        set good=good-1
        where id = #{qid}
    </update>

    <update id="addCollectCount">
        update red_interview_question
        set collect=collect+1
        where id = #{qid}
    </update>

    <update id="prepCollectCount">
        update red_interview_question
        set collect=collect-1
        where id = #{qid}
    </update>

    <select id="getUserStatus" resultType="com.redskt.classroom.entity.vo.RedUserStateVo">
        SELECT !isnull(collect.id) as isCollect, !isnull(good.id) as goodslect,!isnull(interview.id) as isFocus
        FROM red_interview_question interview
        LEFT OUTER JOIN  red_interview_collect collect on collect.uid = #{uid} and collect.qid = #{qid} and collect.is_deleted = 0
        LEFT OUTER JOIN  red_user_focus focus on focus.uid = #{uid} and focus.fid = interview.uid and focus.is_deleted = 0
        LEFT OUTER JOIN  red_interview_good  good  on good.uid = #{uid} and good.qid = #{qid}
        where interview.id = #{qid}
    </select>

    <update id="updateQustionState">
        update red_interview_question
        set state = #{state}
        where id = #{qid} and uid = #{uid}
    </update>

    <update id="addSmeetCount">
        update red_interview_question
        set smeet=smeet+1
        where id = #{qid}
    </update>

    <update id="addTmeetCount">
        update red_interview_question
        set tmeet=tmeet+1
        where id = #{qid}
    </update>

    <update id="addPmeetCount">
        update red_interview_question
        set pmeet=pmeet+1
        where id = #{qid}
    </update>

    <update id="addUmeetCount">
        update red_interview_question
        set umeet=umeet+1
        where id = #{qid}
    </update>

</mapper>
