<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redskt.classroom.mapper.RedMessageMapper">

    <select id="getRedmessageDetailList" resultType="com.redskt.classroom.entity.vo.RedClassBlogDetailVo">
        SELECT message.id,message.title,message.type,message.cover,message.good,message.view_count,auser.id as aUid,auser.nickName as authorName,auser.avatar as authorAvatar,auser.id as authorUid,cCount
        FROM red_message message
        LEFT OUTER JOIN edu_user auser ON auser.id = message.uid
        LEFT OUTER JOIN (select mid,count(id) as cCount from red_message_comment group by mid) comment on comment.mid = message.id

        <if test="uid != null">
            WHERE message.uid = #{uid}
        </if>
        <if test="type == 1">
            ORDER BY message.gmt_create DESC
        </if>
        <if test="type == 2">
            ORDER BY message.view_count DESC
        </if>
        LIMIT #{size}
    </select>
    

    <select id="getRedMessageDetail" resultType="com.redskt.classroom.entity.vo.RedMessageDtailVo">
        SELECT message.*,auser.id as aUid,auser.nickName as authorName,auser.avatar as authorAvatar,auser.id as authorUid,
        sum(cmess.view_count) as allvcount, count(fans.id) as fanscount
        FROM red_message message
        LEFT OUTER JOIN edu_user auser ON auser.id=message.uid
        LEFT OUTER JOIN red_message cmess ON cmess.uid=message.uid
        LEFT OUTER JOIN red_user_focus fans ON fans.fid=message.uid and fans.is_deleted = 0
        where message.id = #{mid}
    </select>

    <select id="getUserStatus" resultType="com.redskt.classroom.entity.vo.RedUserStateVo">
        SELECT !isnull(good.id) as goodslect,!isnull(focus.id) as isFocus
        FROM red_message message
        LEFT OUTER JOIN  red_user_focus focus on focus.uid = #{uid} and focus.fid = message.uid and focus.is_deleted = 0
        LEFT OUTER JOIN  red_message_good  good  on good.uid = #{uid} and good.mid = #{mid} and good.is_deleted = 0
        where message.id = #{mid}
    </select>

    <update id="updateReadCount">
        update red_message
        set  view_count=view_count+1
        where id = #{mid}
    </update>

    <update id="addGoodCount">
        update red_message
        set good=good+1
        where id = #{mid}
    </update>

    <update id="prepGoodCount">
        update red_message
        set good=good-1
        where id = #{mid}
    </update>

</mapper>
