<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redskt.classroom.mapper.RedMessageMapper">

    <select id="getRedMessageDetail" resultType="com.redskt.classroom.entity.vo.RedMessageDtailVo">
        SELECT message.*,auser.id as aUid,auser.nickName as authorName,auser.avatar as authorAvatar,auser.id as authorUid
        FROM red_message message
        LEFT OUTER JOIN edu_user auser ON auser.id=message.uid
        where message.id = #{mid}
    </select>

</mapper>
