<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redskt.classroom.mapper.RedReplyGoodMapper">

    <update id="updateGoodState">
        update red_reply_good
        set is_deleted = 0
        where uid = #{uid} and rid = #{rid}
    </update>

    <select id="getUserReplyGoodState" resultType="com.redskt.classroom.entity.RedReplyGood">
        SELECT *
        FROM red_reply_good
        <where>
            <foreach item="item" index="index" collection="map"
                     open="is_deleted = 0 and uid = #{uid} and rid in (" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>

</mapper>
